src/main/mule/githubtest2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f7c6b10d-8960-499a-b0e4-4c85161d4eb8" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="githubtest2Flow" doc:id="e64340e1-22b2-4cbf-a985-b84e9d54e35e" >
		<http:listener doc:name="Listener" doc:id="a9fbc29e-1fcc-4cfa-b33c-fcffb60013c6" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="b27c5269-37a1-461f-b0e4-759d8192b872" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"was geht hier ab?": "super wichtiger GithubShit!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="2825319c-26b9-432a-b81f-13cfeb7a2edc" >
			<ee:transform doc:name="Transform Message" doc:id="b15e53f6-4d05-4c42-a05a-f2abfed2781f" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"neue Message": "sehr wichtiges blablablub und noch viel weiteres sehr sehr wichtiges blablabla"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</try>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a4179501-8389-402c-bcf7-c7a00fc17596" />
		<flow-ref doc:name="Flow Reference" doc:id="4618edd5-924a-4ef3-90ee-2e36db88d568" name="githubtest2Flow1"/>
	</flow>
	<flow name="githubtest2Flow1" doc:id="de0ba7dc-399a-4068-be58-3436df4bd938" >
		<ee:transform doc:name="Transform Message" doc:id="522e025e-4849-42c3-a8cf-f136afb1fe0e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
